<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>codehelper</title>
    <link rel="stylesheet" href="css/page/code.css">
    <link rel="stylesheet" href="css/icon/iconfont.css">
    <link rel="stylesheet" href="css/inputtest.css">
    <link rel="stylesheet" href="css/head.css">

    <link rel="shortcut icon" href=""/>
    <script src="js/third-party/jquery.js"></script>
    <!--css files-->
    <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">
    <style>

    </style>
</head>
<body>
<div th:replace="~{head::head}"></div>

<div class="middle">
    <div class="side-left">
        <div id="projs">

        </div>
        <div id="addproj">
            + new proj
        </div>
        <div class="left-footer">
            <li class="fanye" id="prev"><</li>
            <li class="fanye" id="currentpage">1</li>
            <li class="fanye" id="next">></li>
        </div>
    </div>
    <div class="side-right">

    </div>
        <script src="js/third-party/require.js" data-main="js/require.config" id="current-page" current-page="code"
                target-module="code" defer async="true"></script>
</body>
</html>