<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>codehelper</title>
    <link rel="stylesheet" href="css/page/index.css">
    <link rel="stylesheet" href="css/head.css">
    <link rel="stylesheet" href="css/page/index.css">
    <link rel="stylesheet" href="css/icon/iconfont.css">
    <link rel="stylesheet" href="css/inputtest.css">
    <link rel="shortcut icon" href=""/>
    <script src="js/third-party/jquery.js"></script>

    <!--css files-->
    <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">

</head>
<body>
<div th:replace="~{head::head}"></div>
<div class="middle">
    <div class="content">
        <div class="title">使用codehelper快速生成代码</div>
        <div class="sub_title">省略基础的代码模板</div>
        <div class="btns">
            <a href="code"><button>开始吧</button></a>
        </div>

    </div>

</div>
<script src="js/third-party/require.js" data-main="js/require.config" id="current-page" current-page="index"
        target-module="index" defer async="true">
</script>
</body>
</html>